.header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(159, 163, 230);
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

.header img {
  margin-top: 100px;
  width: 90%;
}

.header h2 {
  margin-top: -20px;
}

@media only screen and (min-width: 768px) {
  .header {
    width: 30%;
    float: left;
    margin: 8em 1em 0 1em;
  }

  .header img {
    width: 100%;
    margin: auto;
  }
}