.nav-bar {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.app-tittle {
  font-family: 'Bungee', cursive;
  font-size: 30px;
  font-weight: 300;
  margin: 1.5em;
}

.new-tweet {
  display: flex;
  margin: 1.5em;
  flex-direction: column;
  align-items: center;
}

.angle-btn {
  color: rgb(255, 0, 0);
  background-color: #4056A1;
  border: 0px;
}