/* tweets box */
.tweet {
  border: 4px solid black;
  margin: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tweet:hover {
box-shadow: 6px 6px 3px gray;
}

/* tweets box header */
.tweet header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px;
  border-bottom: 4px solid black;
}

.tweet  header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.avatar img {
  width: 40px;
}

.user-handle {
  opacity: 0.5;
  font-weight: bold;
}

/* tweets box footer */
.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  margin-top: -5px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.tweet footer button {
  color: #4056A1;
  border: none;
}

.tweet footer button:hover {
  color: rgb(180, 150, 0);
}